/* for debug */

/* h1 { */

/* color: #FF0000; */

/* } */

.markdown-section code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
    font-size: 1.0em !important;
    font-style: normal !important;
    line-height: 1.4em;
}
